@page "/EmployeeList"
@using EmployeeBlazorCRUD.Data

@inject EmployeeService employeeService


<Modal @ref="editmodal" Title="Edit Employees">
    <BodyTemplate>
        <form>

            <div class="row">

                <div class="for-group">
                    <label for="ID" class="control-label">ID</label>
                    <input form="ID" class="form-control" @bind="newEmployee.Id" />
                </div>

                <div class="for-group">
                    <label for="FirstName" class="control-label">First Name</label>
                    <input form="FirstName" class="form-control" @bind="newEmployee.FirstName" />
                </div>


                <div class="for-group">
                    <label for="LastName" class="control-label">Last Name</label>
                    <input form="LastName" class="form-control" @bind="newEmployee.LastName" />
                </div>


                <div class="for-group">
                    <label for="Gender" class="control-label">Gender</label>
                    <input form="Gender" class="form-control" @bind="newEmployee.Gender" />
                </div>

            </div>
        </form>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick" value="close">Close</Button>
        <Button Color="ButtonColor.Primary" @onclick="@UpdateEmployeeDetails" value="save">Update changes</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="modal" Title="Add New Employees">
    <BodyTemplate>
        <form>

            <div class="row">
               
                    <div class="for-group">
                        <label for="FirstName" class="control-label">First Name</label>
                        <input form="FirstName" class="form-control" @bind="newEmployee.FirstName" />
                    </div>
              
                
                    <div class="for-group">
                        <label for="LastName" class="control-label">Last Name</label>
                        <input form="LastName" class="form-control" @bind="newEmployee.LastName" />
                    </div>
              
               
                    <div class="for-group">
                        <label for="Gender" class="control-label">Gender</label>
                        <input form="Gender" class="form-control" @bind="newEmployee.Gender" />
                    </div>
               
            </div>
        </form>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick" value="close">Close</Button>
        <Button Color="ButtonColor.Primary" @onclick="@AddNewEmployeeDetails" value="save">Save changes</Button>
    </FooterTemplate>
</Modal>

    <Button Color="ButtonColor.Primary" @onclick="OnShowModalClick"> Add New Members </Button>


<h1>Employee List</h1>

@if(empList==null)
{
    <PlaceholderContainer Animation="PlaceholderAnimation.Glow">
        <Placeholder Width="PlaceholderWidth.Col7" />
        <Placeholder Width="PlaceholderWidth.Col9" />
        <Placeholder Width="PlaceholderWidth.Col6" />
        <Placeholder Width="PlaceholderWidth.Col7" />
    </PlaceholderContainer>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach(Employee emp in empList)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Gender</td>
                    <td>
                        <Button Color="ButtonColor.Secondary" @onclick="OnShowEditModalClick" TooltipTitle="Edit Employee Details">
                            <Icon Name="IconName.Magic" />
                        </Button>
                        <Button Color="ButtonColor.Secondary"  TooltipTitle="Delete Employee">
                            <Icon Name="IconName.Magnet" />
                        </Button>
                    </td>
                     
                </tr>
            }
        </tbody>

    </table>
}

@code {
        [Parameter]
        public string Id { get; set; }



    private Modal modal = default!;
    private Modal editmodal = default!;

    public Employee newEmployee = new Employee();

    protected async void AddNewEmployeeDetails()
    {
        await employeeService.AddEmployees(newEmployee);
        await modal.HideAsync();
    }

    /*
    protected override async Task OnInitializedAsync()
    {
        newEmployee = await Task.Run(() => employeeService.GetEmployeesById(Convert.ToInt32(Id)));
    }
    */

    protected async void UpdateEmployeeDetails()
    {
        await employeeService.UpdateEmployees(newEmployee);
    }

    List<Employee> empList;

    protected override async Task OnInitializedAsync()
    {
        empList = await Task.Run(() => employeeService.GetEmployees());
    }

    

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }

    private async Task OnShowEditModalClick()
    {
        await editmodal.ShowAsync();
    }

    private async Task OnHideEditModalClick()
    {
        await editmodal.HideAsync();
    }

}
