@page "/EmployeeList"
@using EmployeeBlazorCRUD.Data

@inject EmployeeService employeeService

<Modal @ref="modal" Title="Modal title">
    <BodyTemplate>
       Add a New Employee
    </BodyTemplate>
    <FooterTemplate>

        <EditForm Model="@newEmployee" OnValidSubmit="SubmitForm">
            <label></label>
            <InputText />
        </EditForm>



        
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
        <Button Color="ButtonColor.Primary">Save changes</Button>
    </FooterTemplate>
</Modal>

    <Button Color="ButtonColor.Primary" @onclick="OnShowModalClick"> Add New Members </Button>


<h1>Employee List</h1>

@if(empList==null)
{
    <PlaceholderContainer Animation="PlaceholderAnimation.Glow">
        <Placeholder Width="PlaceholderWidth.Col7" />
        <Placeholder Width="PlaceholderWidth.Col9" />
        <Placeholder Width="PlaceholderWidth.Col6" />
        <Placeholder Width="PlaceholderWidth.Col7" />
    </PlaceholderContainer>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach(Employee emp in empList)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Gender</td>
                    <td>
                        <a class="nav-link" href="EditEmployee/@emp.Id">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>

                        <a class="nav-link" href="DeleteEmployee/@emp.Id">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    public Employee newEmployee = new Employee();
    private async Task SubmitForm()
    {
        
    }

    List<Employee> empList;

    protected override async Task OnInitializedAsync()
    {
        empList = await Task.Run(() => employeeService.GetEmployees());
    }

    


    private Modal modal = default!;

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }
}
